<ion-view title="Login" >
	<ion-content  class="has-header padding">
		<div class="row pading-vertical">
			<div class="col-80 col-offset-10">
				<form role="form" class="form" ng-submit="login()">
					<div class="form-group text-center">
						<div ng-show="!loginError" >Log in with your special words</div>
						<div ng-show="loginError">{{loginError}}</div> 
					</div>
					<div class="form-group">
						<input name="username" id="em" type="text" class="form-control" placeholder=" username" ng-model="credentials.username">
					</div>
					<div class="form-group">
						<input name="password" id="pw" type="password" class="form-control" placeholder=" password" ng-model="credentials.password">
					</div>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-primary btn-lg"><i class="ion-checkmark-round"></i></button>
					</div>
				</form>
				<div class="form-group text-center">
					<a href="#/login"><button class="btn btn-primary btn-lg"><i class="ion-close-round"></i></button></a>
				</div>
			</div>
		</div>
		<div class="row pading-vertical">
			<div class="col text-center">
				<a href="#/signup" class="btn btn-primary btn-lg" >sign up</a>
			</div>
		</div>
	</ion-content>
</ion-view>