<ion-view title="Login">
	<ion-content  class="padding center-scroll-content" >
		
		<div ng-if="loggedIn" ng-show="!loggingIn">
			<div ng-if="photo!=null" class="row">
				<div class="col text-center">
					<img class="circle" style="width:128px; height:128px;" src="data:image/jpeg;base64,{{photo}}">
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<h2 class="redfront">{{user.profile.username}}</h2>
				</div>
			</div>
			<div class="row" >
				<div class="col text-center">
					<button ng-click="logout()" class="button button-block button-icon button-icon-large"><i class="icon ion-log-out redfront"></i></button>
				</div>
			</div>
			<div class="row" ng-if="!googleConnected">
				<div class="col text-center">
					<button class="button button-block button-icon button-icon-large redfront" ng-click="googleConnect()" >+<i class="icon ion-social-google redfront"></i></button>
				</div>
			</div>		
			<div class="row">
				<div class="col text-center">
					<a ng-controller="StartCtrl" ui-sref="home.launcher" nav-clear class="button button-block button-icon button-icon-large redfront"><i class="icon ion-home redfront"></i></a>
				</div>
			</div>		
		</div>

		<div ng-if="!loggedIn" ng-show="!loggingIn">
			<div class="row">
				<div class="col text-center">
					<img class="circle" style="width:128px; height:128px;" src="images/hoodie.jpg"/>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<button ng-click="googleLogin()" class="button button-block button-icon button-icon-large" ><i class="icon ion-social-google redfront"></i></button>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a ui-sref="pwlogin" class="button button-block button-icon button-icon-large" ><i class="icon ion-log-in redfront"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a ui-sref="signup" class="button button-block button-icon button-icon-large"><i class="icon ion-clipboard redfront"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<div ng-show="loginError" class="text-danger"> {{loginError}}</div>
					<div ng-show="logoutError" class="text-danger"> {{logoutError}}</div>
				</div>
			</div>
		</div>

		<div ng-show="loggingIn">
			<div class="row">
				<div class="col text-center">
					<ion-spinner class="lg" icon="android"></ion-spinner>
				</div>
			</div>
			<div class="row pading-vertical">
				<div class="col text-center">
					<h2>Logging you in</h2>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>